
.keybindings_container{
  display: flex;
  gap: 20px;
}
.keybindings_section{
  width: 50%;
}
.keybindings_section div{
  display: flex;
  align-items: center;
  margin-block: 10px;
}

.keybind{
  flex-shrink: 0;
  white-space: nowrap; /* Ensures the text itself doesn't wrap */
  font-weight: 600;
}
.keybind_img{
  width: 40px;
  height: 40px;
}
.keybind_-{
  padding-inline: 5px;
}
.keybind_desc{
  flex-grow: 1;
}


.mesh_related{
  background-color: var(--meshRelated);
}
.menu_related{
  background-color: var(--menuRelated);
}