.tooltip_container{
    position: relative;
    cursor: pointer;
    padding-inline: 5px;
    border-radius: 3px;
}

.tooltip_container img{
    max-width: 180px;
    margin: 0 auto;

}



.tooltip_text{
    visibility: visible;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 8px;


    min-width: 120px;



    pointer-events: none;

    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 14px;
}

.tooltip_text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: rgb(20, 20, 20) transparent transparent transparent;
}
.tooltip_container:hover .tooltip_text{
    opacity: 1;
    transition: opacity 0.15s ease;
}
