.tooltip_container{
  position: relative;
  cursor: pointer;
  padding-inline: 5px;
  border-radius: 3px;
  text-wrap: nowrap;
}

.tooltip_text{
  visibility: visible;
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: center;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  pointer-events: none;

  padding-top: 5px;
  padding-inline: 8px;

  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 14px;
  z-index: 2;
}

.tooltip_text::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(20, 20, 20) transparent transparent transparent;
}
.tooltip_container:hover .tooltip_text{
  opacity: 1;
  transition: opacity 0.12s ease;
}




.tooltip_container span:nth-child(2){
  padding-block: 5px;
}
.tooltip_text img{
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  min-width: 330px;

}
.tooltip_text video{
  width: 100%;
  max-height: 600px;
  min-width: 400px; /*a little bit more width for videos than imgs*/
}
.tooltip_text span small{
  max-width: 130px;
  text-wrap: wrap;
}



@media (max-width: 810px) {
  .tooltip_text img{
    max-height: 300px;
    min-width: 250px;
  }
  .tooltip_text video{
    max-height: 300px;
    min-width: 210px; /*a little bit more width for videos than imgs*/
  }


}