:root {
  --white: #FFFCF6;
  --yellow: #FABA4D;
  --black: #343434;
  --blue_1: #2F679F;
  --blue_2: #677CE9;
  --light_pink: #B2B9E3;

  


}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  /* background-color: var(--background_color); */
  font-family: 'Playpen Sans', Arial;
  font-size: 18px;
  background-color: var(--white);
  /* color: var(--font_color); */

}

img{
  display: block;
}

button{
  background-color: transparent;
  border: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}



::-moz-selection { /* Code for Firefox */
  color: #f5fafb;
  background: #0f9be1c0;
}

::selection {
  color: #f5fafb;
  background: var(--light_pink);
}  




::-webkit-scrollbar {
  width: 10px;
    
}
::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--blue_2);
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: var(--black);
}


















/* playpen-sans-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/playpen-sans-v22-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/playpen-sans-v22-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/playpen-sans-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playpen-sans-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/playpen-sans-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/playpen-sans-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playpen-sans-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playpen-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/playpen-sans-v22-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
